<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Office Planner</title>
    <base href="~/">
    <link href="https://uikits.cendyn.com/v002/Site/CSS?v=1.1" rel="stylesheet">

</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
    
</body>
</html>
