<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Office Planner</title>
    <base href="~/">

</head>
<body>

    <!-- https://marczak.io/posts/netcore-vuejs/ -->

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
    
</body>
</html>
